@{
  Layout = "_Layout";
  ViewBag.Title = "Add Stylist";
}

@model HairSalon.Models.Stylist

<h1>Add Stylist</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)

  @Html.LabelFor(model => model.HireDate)
  @Html.TextBoxFor(model => model.HireDate, new { @type = "date"})

  <input type="submit" value="Add New Stylist" />
}

<h4>@Html.ActionLink("My Stylists", "Index")</h4>
<h4>@Html.ActionLink("Back To Home", "Index", "Home")</h4>