@{
  Layout = "_Layout";
  ViewBag.Title = "Add Client";
}

@model HairSalon.Models.Client

<h1>Add Client</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistID")

  <input type="submit" value="Add New Client" />
}

<p>@Html.ActionLink("My Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Back To Home", "Index", "Home")</p>